@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .three div:last-child {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .three div:last-child::-webkit-scrollbar {
    display: none;
  }
}
